/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6; /* Light background color */
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  p {
    text-align: center;
    color: #888;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  
  .input-container label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .input-container input {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .input-container input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .error-message {
    color: #f64949fe;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  
  .submit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password {
    text-align: center;
    font-size: 0.85rem;
    margin-top: 1rem;
    color: #555;
  }
  
  .forgot-password a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }

  
.create-account {
  text-align: center;
  margin-top: 15px;
}

.create-account a {
  color: #007BFF;
  text-decoration: none;
}

.create-account a:hover {
  text-decoration: underline;
}

  